@import url('https://fonts.googleapis.com/css?family=Bungee|Work+Sans');

:root {
    font-family: 'Work Sans', sans-serif;
}


body {
        background: linear-gradient(#606060, #fff);
}
#products{
    text-align: center;
}

a {
    color: rgba(0,0,0,.9);
}

footer .info {
    display: flex;
    padding: 25px;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 14px;
}

.copirate {
    text-align: center;
    font-size: 12px;
}