@import url('https://fonts.googleapis.com/css?family=Bungee|Work+Sans');

:root {
    font-family: 'Work Sans', sans-serif;
}

#products {
    text-align: center;
    margin-top: 2%;
}

h5 {
    text-align: center;
}

a {
    color: rgba(0, 0, 0, .9);
}

form.formQuestion {
    margin-top: 5%;
    margin-block-end: 3%;
}

footer{
    background-color: #e6e6e6;
}
footer .info {
    display: flex;
    padding: 25px;
    width: 100%;
    justify-content: space-around;
    font-size: 14px;
}

.copirate {
    text-align: center;
    font-size: 12px;
}
